.navbar{
    ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }
    background-color: black;
    .container-logo{
        width: 10rem;
        img{
            width: 100%;
        }
    }
    
}