.navbar{
    ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }
    .container-logo{
        width: 10rem;
        img{
            width: 100%;
        }
    }   
}
.darkMode{
    background-color: black !important;
}
.lightMode{
    background-color: white !important;
}
.basic-display-none{
    display: none;
}
.basic-display-block{
    display: block;
}